body{
    background-color: bisque;
}

#nav{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: blueviolet;
}



nav a:hover{
    color: yellow;
}

nav a{
    text-decoration: underline;
    color: white;
    padding: 10px;
}

#logout:hover {
    color: yellow;
    cursor: pointer;
   

}

